body {
  background: #e4f4f5;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/103/435/original/library.jpg?1699554588);
  background-size: contain;
  background-attachment: fixed;
}

.App {
  max-width: 860px;
  margin: 0 auto;
}

.App-logo {
  display: block;
  max-width: 100px;
  margin: 25px auto;
}

.App-footer {
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 30px 0;
}

.App-footer a {
  color: black;
  text-decoration: none;
}
